@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body{
    background-color: #F7F9F9;
    font-family: 'Rubik', sans-serif;
    transition: 0.2s;
}

table{
  margin-top: 10px;
}

